{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="d-flex text-center align-items-center form-login pimg1">
        <form action="{{ path('login') }}" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Veuillez-vous connecter</h1>

            <label for="username" class="sr-only">Email address</label>
            <input type="text" id="email" name="_username" class="form-control" placeholder="Email" required autofocus value="{{ last_username }}">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            {% if error %}
                <div class="alert alert-danger mt-4">
                    {{ error.messageKey | trans(error.messagedata, 'security')}}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}